<link href="assets/floatActionBtn.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="note note-info">
            <span> NOTE: If dropdown menus are displaying <b>"No results found."</b>, click the floating red box
                on the bottom right to retrieve data. </span>
        <br>
        <span>Select barangay:</span>
        <select id="brgyusracc" name="brgyusracc" class="form-control select2dynamic mainForm"> </select>
        <br>
        <button id="btn_genrep">Generate Report</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-sharp"></i>
                        <span class="caption-subject font-blue-sharp bold uppercase">Criteria</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="rep_activity" class="chart" style="height: 500px;"></div>
                    <div id="rep_age" class="chart" style="height: 500px;"></div>
                    <div id="rep_gender" class="chart" style="height: 500px;"></div>
                    <div id="rep_civstat" class="chart" style="height: 500px;"></div>
                    <div id="rep_edu" class="chart" style="height: 500px;"></div>
                    <div id="rep_nat" class="chart" style="height: 500px;"></div>
                    <div id="rep_relg" class="chart" style="height: 500px;"></div>
                    <div id="rep_occ" class="chart" style="height: 500px;"></div>
                    <div id="rep_livarr" class="chart" style="height: 500px;"></div>
                    <div id="rep_income" class="chart" style="height: 500px;"></div>
                    <div id="rep_drgsource" class="chart" style="height: 500px;"></div>
                    <div id="rep_drg30days" class="chart" style="height: 500px;"></div>
                    <div id="rep_natdm" class="chart" style="height: 500px;"></div>
                    <div id="rep_timesadmitted" class="chart" style="height: 500px;"></div>
                    <div id="rep_drgsub" class="chart" style="height: 500px;"></div>
                    <div id="rep_drgfreq" class="chart" style="height: 500px;"></div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
    <div id="frm_refresh_select" class="floatingContainer">
        <div class="actionButton">
            <i class="floatingText">
                <span class="floatingTextBG">Retrieve data</span></i>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="assets/global/plugins/amcharts/amcharts/plugins/dataloader/dataloader.min.js"
        type="text/javascript"></script>
<script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/userDashboardCharts.js" type="text/javascript"></script>
<script src="assets/floatActionBtn.js" type="text/javascript"></script>
<script src="assets/getSelectData.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->