<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="assets/floatActionBtn.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="note note-info">
        <p> NOTE: If dropdown menus are displaying <b>"No results found."</b>, click the floating red box on the
            bottom right to retrieve data. </p>
        <p> NOTE: Please type "None" or 0 if there is no value to be entered. </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase"> Edit Form</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form id="frmIntakeEdit" action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Control Number</label>
                                <div class="col-md-6">
                                    <input id="frm_edit_ctrlnum" type="text" class="form-control"
                                           placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="val_ctrl_brgy" class="col-md-3 control-label">Select portion</label>
                            <div class="col-md-6">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <select id="frm_edit_portion" name="frm_edit_portion" class="form-control select2">
                                        <optgroup label="Control Information"></optgroup>
                                        <option value="val_ctrl_brgy">Barangay</option>
                                        <option value="val_ctrl_dateadm">Date of admission</option>
                                        <optgroup label="Background Information"></optgroup>
                                        <option value="val_bg_fname">First Name</option>
                                        <option value="val_bg_mname">Middle Name</option>
                                        <option value="val_bg_lname">Family Name</option>
                                        <option value="val_bg_addr">Permanent Address</option>
                                        <option value="val_bg_age">Age</option>
                                        <option value="val_bg_dob">Date of birth</option>
                                        <option value="val_bg_sex">Gender</option>
                                        <option value="val_bg_civstat">Civil Status</option>
                                        <option value="val_bg_edu">Highest Educational Attainment</option>
                                        <option value="val_bg_nation">Nationality</option>
                                        <option value="val_bg_relg">Religion</option>
                                        <option value="val_school_yrs">Years in school</option>
                                        <option value="val_school_date">Date of last school attendance</option>
                                        <option value="val_work_prerehab">Occupation prior to rehab</option>
                                        <option value="val_bg_skill">Skill</option>
                                        <option value="val_fam_siblings">Number of siblings</option>
                                        <option value="val_fam_ordinal">Ordinal position in family</option>
                                        <option value="person_livar">Living arrangements</option>
                                        <option value="val_fam_income">Estimated family monthly income</option>
                                        <option value="val_fam_dadname">Name of Father</option>
                                        <option value="val_fam_dadocc">Father's Occupation</option>
                                        <option value="val_fam_momname">Name of Mother</option>
                                        <option value="val_fam_momocc">Mother's Occupation</option>
                                        <option value="val_fam_spousename">Name of Spouse</option>
                                        <option value="val_fam_spouseocc">Spouse's Occupation</option>
                                        <option value="val_fam_spouse_addr">Address of Spouse</option>
                                        <optgroup label="Drug Use Information"></optgroup>
                                        <option value="val_drg_expense">Daily expenses for drugs</option>
                                        <option value="val_drg_agefirst">Age of 1st drug use</option>
                                        <option value="val_drg_datelast">Date of last drug use</option>
                                        <option value="val_drg_lengthuse">Length of drug use</option>
                                        <option value="person_sourcedrug">Source of drugs</option>
                                        <option value="val_drg_place">Place of drug source</option>
                                        <option value="val_drg_reason">Primary reason for using drugs</option>
                                        <option value="person_drugsused">Drugs used for last 30 days</option>
                                        <optgroup label="Treatment Information"></optgroup>
                                        <option value="person_natadm">Nature of admission</option>
                                        <option value="val_trt_numadm">Number of times admitted before</option>
                                        <option value="person_drugsub">Type of drug substance</option>
                                        <option value="val_trt_freq">Frequency of drug use</option>
                                        <option value="val_trt_means">Means to support drug habit</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button id="frm_edit_submit" type="button" class="btn blue">Edit</button>
                                    <button id="frm_del_submit" type="button" class="btn blue">Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
        <div id="intakeFormForEdit" class="col-md-6">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase"> Editing</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal">
                        <div id="formEditContainer" class="form-group">
                            <!-- CONTROL INFORMATION -->
                            <div id="val_ctrl_brgy" class="col-md-4 select2Element">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <select id="val_ctrl_brgy_edit" name="val_ctrl_brgy_edit"
                                            class="form-control select2 select2dynamic mainForm">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div id="val_ctrl_dateadm" class="col-md-4 dateElement">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input name="val_ctrl_dateadm"
                                           class="form-control form-control-inline date-picker mainForm" size="16"
                                           type="text" value=""/>
                                    <span class="help-block"> Select date </span>
                                </div>
                            </div>
                            <!-- BACKGROUND INFORMATION -->
                            <div id="val_bg_fname" class="col-md-4 inputElement">
                                <input name="val_bg_fname" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_bg_mname" class="col-md-4 inputElement">
                                <input name="val_bg_mname" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_bg_lname" class="col-md-4 inputElement">
                                <input name="val_bg_lname" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_bg_addr" class="col-md-4 inputElement">
                                <input name="val_bg_addr" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_bg_age" class="col-md-4 inputElement">
                                <input name="val_bg_age" class="form-control mainForm" type="text" value="">
                            </div>
                            <div id="val_bg_dob" class="col-md-4 dateElement">
                                <input name="val_bg_dob" class="form-control form-control-inline date-picker mainForm"
                                       size="16" type="text" value=""/>
                                <span class="help-block"> Select date </span>
                            </div>
                            <div id="val_bg_sex" class="col-md-4 select2Element">
                                <select id="val_bg_sex_edit" name="val_bg_sex" class="form-control select2 mainForm">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                            <div id="val_bg_civstat" class="col-md-4 select2Element">
                                <select id="val_bg_civstat_edit" name="val_bg_civstat"
                                        class="form-control select2 mainForm">
                                    <option value="S">Single</option>
                                    <option value="M">Married</option>
                                    <option value="L">Live-in</option>
                                    <option value="W">Widowed</option>
                                    <option value="S">Separated</option>
                                    <option value="D">Divorced</option>
                                </select>
                            </div>
                            <div id="val_bg_edu" class="col-md-4 select2Element">
                                <select id="val_bg_edu_edit" name="val_bg_edu" class="form-control select2 mainForm">
                                    <option value="N">None</option>
                                    <option value="E">Elementary</option>
                                    <option value="HS">High School (Before K12)</option>
                                    <option value="JH">Junior High</option>
                                    <option value="JH">Senior High</option>
                                    <option value="V">Vocational</option>
                                    <option value="C">College</option>
                                    <option value="M">Masters</option>
                                    <option value="D">Doctorate</option>
                                </select>
                            </div>
                            <div id="val_bg_nation" class="col-md-4 select2Element">
                                <select id="val_bg_nation_edit" name="val_bg_nation"
                                        class="form-control select2 select2dynamic mainForm">
                                    <!-- Dynamic (retrieved from external database) -->
                                </select>
                            </div>
                            <div id="val_bg_relg" class="col-md-4 select2Element">
                                <select id="val_bg_relg_edit" name="val_bg_relg"
                                        class="form-control select2 select2dynamic mainForm">
                                    <!-- Dynamic (retrieved from external database) -->
                                    <option></option>
                                </select>
                            </div>
                            <div id="val_school_yrs" class="col-md-4 inputElement">
                                <input name="val_school_yrs" class="form-control mainForm" type="text" value="">
                            </div>
                            <div id="val_school_date" class="col-md-4 dateElement">
                                <input name="val_school_date"
                                       class="form-control form-control-inline date-picker mainForm" size="16"
                                       type="text" value=""/>
                                <span class="help-block"> Select date </span>
                            </div>
                            <div id="val_work_prerehab" class="col-md-4 select2Element">
                                <select id="val_work_prerehab_edit" name="val_work_prerehab"
                                        class="form-control select2 select2dynamic mainForm">
                                    <!-- Dynamic (retrieved from external database) -->
                                    <option></option>
                                </select>
                            </div>
                            <div id="val_bg_skill" class="col-md-4 inputElement">
                                <input name="val_bg_skill" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> Enter the featured/best skill the person has. </span>
                            </div>
                            <div id="val_fam_siblings" class="col-md-4 inputElement">
                                <input name="val_fam_siblings" class="form-control mainForm" type="text" value="">
                            </div>
                            <div id="val_fam_ordinal" class="col-md-4 select2Element">
                                <select id="val_fam_ordinal_edit" name="val_fam_ordinal"
                                        class="form-control select2 mainForm">
                                    <option value="M">Mother</option>
                                    <option value="F">Father</option>
                                    <option value="RC">Eldest child</option>
                                    <option value="MC">Middle child</option>
                                    <option value="YC">Youngest child</option>
                                </select>
                            </div>
                            <div id="person_livar" class="col-md-4 checkBoxElement">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_livar1" name="person_livar" value="WP"> With
                                        parents
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_livar2" name="person_livar" value="WR"> With
                                        relatives
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_livar3" name="person_livar" value="BH">
                                        Boarding house
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_livar4" name="person_livar" value="WSC"> With
                                        spouse and children
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_livar5" name="person_livar" value="WF"> With
                                        friends
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_livar6" name="person_livar" value="LA"> Living
                                        alone
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_livar7" name="person_livar" value="O"> Others
                                        <span></span>
                                    </label>
                                </div>
                                <input id="person_livarother" name="person_livarother" class="form-control" type="text"
                                       value="" disabled>
                            </div>
                            <div id="val_fam_income" class="col-md-4 inputElement">
                                <input name="val_fam_income" class="form-control mainForm" type="text" value="">
                                <span class="help-block"> Please round-off all centavos. </span>
                            </div>
                            <div id="val_fam_dadname" class="col-md-4 inputElement">
                                <input name="val_fam_dadname" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_fam_dadocc" class="col-md-4 select2Element">
                                <select id="val_fam_dadocc_edit" name="val_fam_dadocc"
                                        class="form-control select2 select2dynamic mainForm">
                                    <!-- Dynamic (retrieved from external database) -->
                                    <option></option>
                                </select>
                            </div>
                            <div id="val_fam_momname" class="col-md-4 inputElement">
                                <input name="val_fam_momname" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_fam_momocc" class="col-md-4 select2Element">
                                <select id="val_fam_momocc_edit" name="val_fam_momocc"
                                        class="form-control select2 select2dynamic mainForm">
                                    <!-- Dynamic (retrieved from external database) -->
                                    <option></option>
                                </select>
                            </div>
                            <div id="val_fam_spousename" class="col-md-4 inputElement">
                                <input name="val_fam_spousename" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_fam_spouseocc" class="col-md-4 select2Element">
                                <select id="val_fam_spouseocc_edit" name="val_fam_spouseocc"
                                        class="form-control select2 select2dynamic mainForm">
                                    <!-- Dynamic (retrieved from external database) -->
                                    <option></option>
                                </select>
                            </div>
                            <div id="val_fam_spouse_addr" class="col-md-4 inputElement">
                                <input name="val_fam_spouse_addr" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <!-- DRUG USE INFORMATION -->
                            <div id="val_drg_expense" class="col-md-4 inputElement">
                                <input name="val_drg_expense" class="form-control" type="text" value="">
                                <span class="help-block"> Please round-off all centavos. </span>
                            </div>
                            <div id="val_drg_agefirst" class="col-md-4 inputElement">
                                <input name="val_drg_agefirst" class="form-control mainForm" type="text" value="">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_drg_datelast" class="col-md-4 dateElement">
                                <input name="val_drg_datelast"
                                       class="form-control form-control-inline date-picker mainForm" size="16"
                                       type="text" value=""/>
                                <span class="help-block"> Select date </span>
                            </div>
                            <div id="val_drg_lengthuse" class="col-md-4 radioBoxElement">
                                <div class="mt-radio-list mainForm">
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_drg_lengthuse" id="person_lengthdrug1"
                                               value="option1"> Less than 2 years
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_drg_lengthuse" id="person_lengthdrug2"
                                               value="option2"> Equal or greater than 2 years but less than 4 years
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_drg_lengthuse" id="person_lengthdrug3"
                                               value="option3"> Equal or greater than 4 years but less than 6 years
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_drg_lengthuse" id="person_lengthdrug4"
                                               value="option4"> Equal or greater than 6 years
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div id="person_sourcedrug" class="col-md-4 checkBoxElement">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_sourcedrug1" name="person_sourcedrug"
                                               value="option1"> Friend/Peer
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_sourcedrug2" name="person_sourcedrug"
                                               value="option2"> Pusher
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_sourcedrug3" name="person_sourcedrug"
                                               value="option3"> Self
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_sourcedrug4" name="person_sourcedrug"
                                               value="option4"> Drugstore
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_sourcedrug5" name="person_sourcedrug"
                                               value="option5"> Relatives
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_sourcedrug6" name="person_sourcedrug"
                                               value="option6"> Other
                                        <span></span>
                                    </label>
                                </div>
                                <input id="person_sourcedrugother" name="person_sourcedrugother" class="form-control"
                                       type="text" value="" disabled>
                            </div>
                            <div id="val_drg_place" class="col-md-4 inputElement">
                                <input name="val_drg_place" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="val_drg_reason" class="col-md-4 inputElement">
                                <input name="val_drg_reason" type="text" class="form-control mainForm"
                                       placeholder="Enter text">
                                <span class="help-block"> </span>
                            </div>
                            <div id="person_drugsused" class="col-md-4 select2Element">
                                <div class="input-group select2-bootstrap-append">
                                    <select id="person_drugsused_edit" name="person_drugsused"
                                            class="form-control select2 select2dynamic" multiple>
                                        <!-- Dynamic (retrieved from external database) -->
                                        <option></option>
                                    </select>
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"
                                                    data-select2-open="person_drugsused">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                </div>
                            </div>
                            <!-- TREATMENT INFORMATION -->
                            <div id="person_natadm" class="col-md-4 checkBoxElement">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_natadm1" name="person_natadm" value="option1">
                                        Voluntary
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_natadm2" name="person_natadm" value="option2">
                                        Voluntary Surrender
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_natadm3" name="person_natadm" value="option3">
                                        Arrested
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_natadm4" name="person_natadm" value="option4">
                                        Suspended Sentence
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_natadm5" name="person_natadm" value="option5">
                                        Relapse/Readmission
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_natadm6" name="person_natadm" value="option6">
                                        Compulsory Confinement
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" id="person_natadm7" name="person_natadm" value="option7">
                                        Others
                                        <span></span>
                                    </label>
                                </div>
                                <input id="person_natadmother" name="person_natadmother" class="form-control"
                                       type="text" value="" disabled>
                            </div>
                            <div id="val_trt_numadm" class="col-md-4 radioBoxElement">
                                <div class="mt-radio-list">
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" id="person_numadm1" name="val_trt_numadm" value="option1">
                                        None
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" id="person_numadm2" name="val_trt_numadm" value="option2">
                                        Once
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" id="person_numadm3" name="val_trt_numadm" value="option3">
                                        Twice
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" id="person_numadm4" name="val_trt_numadm" value="option4">
                                        More than twice
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div id="person_drugsub" class="col-md-4 select2Element">
                                <div class="input-group select2-bootstrap-append">
                                    <select id="person_drugsub_edit" name="person_drugsub"
                                            class="form-control select2 select2dynamic" multiple>
                                        <!-- Dynamic (retrieve from external database) -->
                                        <option></option>
                                    </select>
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"
                                                    data-select2-open="person_drugsub">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                </div>
                            </div>
                            <div id="val_trt_freq" class="col-md-4 radioBoxElement">
                                <div class="mt-radio-list">
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_trt_freq" id="person_freqdrug1" value="option1">
                                        Daily
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_trt_freq" id="person_freqdrug2" value="option2"> 2
                                        to 5 times a week
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_trt_freq" id="person_freqdrug3" value="option3">
                                        Weekly
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_trt_freq" id="person_freqdrug4" value="option4">
                                        Occasionally
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_trt_freq" id="person_freqdrug5" value="option5">
                                        Monthly
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-line">
                                        <input type="radio" name="val_trt_freq" id="person_freqdrug6" value="option6">
                                        Others
                                        <span></span>
                                    </label>
                                </div>
                                <input id="val_trt_freqother" name="val_trt_freqother" class="form-control" type="text"
                                       value="" disabled>
                            </div>
                            <div id="val_trt_means" class="col-md-4 inputElement">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input name="val_trt_means" type="text" class="form-control mainForm"
                                           placeholder="Enter text">
                                    <span class="help-block"> Input the main way the user is able to support his/her drug habit. </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button id="form_edited_submit" type="button" class="btn blue">Submit</button>
                                    <button id="frm_edit_cancel" type="button" class="btn blue">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
    <div id="frm_refresh_select" class="floatingContainer">
        <div class="actionButton">
            <p class="floatingText">
                <span class="floatingTextBG">Retrieve data</span></p>
        </div>
    </div>
</div>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/floatActionBtn.js" type="text/javascript"></script>
<script src="assets/getSelectData.js" type="text/javascript"></script>
<script src="assets/formEdit.js" type="text/javascript"></script>
<script src="assets/formIntakeMasks.js" type="text/javascript"></script>
<script src="assets/formEditExt.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
