<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="assets/floatActionBtn.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="note note-info">
            <span> NOTE: If dropdown menus are displaying <b>"No results found."</b>, please click the floating red box
                on the bottom right to retrieve data. </span>
        <br>
        <span>Select user:</span>
        <select id="usr_rep_names" name="usr_rep_names"
                class="form-control select2dynamic mainForm">
        </select>
        <br>
        <button id="btn_genrep">Generate Report</button>
    </div>
    <div id="divToPrint" class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Generated User Report - Control Number - <span
                        id="form_person_num"></span></span>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <canvas style="display: block;margin: auto;" id="val_ctrl_photo" width="320" height="240"></canvas>
                    <h3 class="form-section">Background Information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">First Name: </label>
                                <div class="col-md-9">
                                    <b id="val_bg_fname" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Last Name:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_lname" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Barangay:</label>
                                <div class="col-md-9">
                                    <b id="val_ctrl_brgy" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date of Admission:</label>
                                <div class="col-md-9">
                                    <b id="val_ctrl_dateadm" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Address:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_addr" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Activity:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_type" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Contact Number:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_contact" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Email:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_email" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date Surrendered:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_surr_date" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Time Surrendered:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_surr_time" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Age:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_age" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date of Birth:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_dob" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Gender:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_sex" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Civil Status:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_civstat" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Highest Educational Attainment:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_edu" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nationality:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_nation" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Religion:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_relg" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Years in School:</label>
                                <div class="col-md-9">
                                    <b id="val_school_yrs" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date of last school attendance:</label>
                                <div class="col-md-9">
                                    <b id="val_school_date" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Occupation prior to rehab:</label>
                                <div class="col-md-9">
                                    <b id="val_work_prerehab" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Skill:</label>
                                <div class="col-md-9">
                                    <b id="val_bg_skill" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Number of siblings:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_siblings" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Ordinal position in the family:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_ordinal" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Living arrangements:</label>
                                <div class="col-md-9">
                                    <b id="person_livar" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Estimated family monthly income:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_income" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name of Father:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_dadname" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Occupation:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_dadocc" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name of Mother:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_momname" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Occupation:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_momocc" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Name of Spouse:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_spousename" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Occupation:</label>
                                <div class="col-md-9">
                                    <b id="val_fam_spouseocc" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Address (Spouse):</label>
                                <div class="col-md-9">
                                    <b id="val_fam_spouse_addr" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <h3 class="form-section">Drug Use Information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Daily Expenses for drugs:</label>
                                <div class="col-md-9">
                                    <b id="val_drg_expense" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Age of 1st drug use:</label>
                                <div class="col-md-9">
                                    <b id="val_drg_agefirst" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date of last drug use:</label>
                                <div class="col-md-9">
                                    <b id="val_drg_datelast" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Length of drug use:</label>
                                <div class="col-md-9">
                                    <b id="val_drg_lengthuse" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Source of drugs:</label>
                                <div class="col-md-9">
                                    <b id="person_sourcedrug" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Place of drug source:</label>
                                <div class="col-md-9">
                                    <b id="val_drg_place" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Primary reason for using drugs:</label>
                                <div class="col-md-9">
                                    <b id="val_drg_reason" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Drugs used for last 30 days:</label>
                                <div class="col-md-9">
                                    <b id="person_drugsused" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <h3 class="form-section">Treatment Information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nature of admission:</label>
                                <div class="col-md-9">
                                    <b id="person_natadm" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Number of times admitted before:</label>
                                <div class="col-md-9">
                                    <b id="val_trt_numadm" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Type of drug substance:</label>
                                <div class="col-md-9">
                                    <b id="person_drugsub" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Frequency of drug use:</label>
                                <div class="col-md-9">
                                    <b id="val_trt_freq" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Means to support drug habit:</label>
                                <div class="col-md-9">
                                    <b id="val_trt_means" class="form-control-static"> </b>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <div id="frm_refresh_select" class="floatingContainer">
        <div class="actionButton">
            <i class="floatingText">
                <span class="floatingTextBG">Retrieve data</span></i>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/floatActionBtn.js" type="text/javascript"></script>
<script src="assets/individualReport.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/canvas-to-blob.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
