<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="assets/floatActionBtn.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE CONTENT INNER -->
<div id="intake_form">
    <div class="page-content-inner">
        <div class="note note-info">
            <p> NOTE: If dropdown menus are displaying <b>"No results found."</b>, click the floating red box
                on the bottom right to retrieve data. </p>
            <p> NOTE: Please type "None" or 0 if there is no value to be entered. </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase"> Control Information</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form id="frm_intake_ctrl" action="#" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Parts of the form have errors. Please double check.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Validation successful.
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Control Number</label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input id="person_id" name="person_id" type="text"
                                                   class="form-control mainForm" placeholder="Enter text">
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="val_ctrl_brgy" class="col-md-3 control-label">Barangay</label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <select id="val_ctrl_brgy" name="val_ctrl_brgy"
                                                    class="form-control select2 select2dynamic mainForm">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Date of admission</label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input id="val_ctrl_dateadm" name="val_ctrl_dateadm"
                                                   class="form-control form-control-inline date-picker mainForm"
                                                   size="16" type="text" value=""/>
                                            <span class="help-block"> Select date </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group last">
                                    <label class="control-label col-md-3">Image Capture</label>
                                    <div class="col-md-9">
                                        <div>
                                            <div style="width: 320px; height: 240px;">
                                                <canvas id="val_ctrl_photo"></canvas>
                                                <video width="320" height="240" id="from_cam" autoplay></video>
                                            </div>
                                            &nbsp;
                                            <div>
                                                <span id="btn_capimg" class="btn blue">Capture</span>
                                                <span id="btn_changeimg" class="btn red">Change</span>
                                            </div>
                                        </div>
                                        <div class="clearfix margin-top-10">
                                            <span class="label label-danger">NOTE!</span> Image will be stored as binary
                                            data
                                            in the database. To save the current capture, first capture then right click
                                            on
                                            the image and save.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase"> Background Information</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form id="frm_intake_bginfo" action="#" class="form-horizontal">
                            <h3 class="form-section">Personal</h3>
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Parts of the form have errors. Please double check.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Validation successful.
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_fname" name="val_bg_fname" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Middle Name</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_mname" name="val_bg_mname" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Family Name</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_lname" name="val_bg_lname" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Permanent Address</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_addr" name="val_bg_addr" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="val_bg_type" class="col-md-3 control-label">Activity</label>
                                    <div class="col-md-4">
                                        <select id="val_bg_type" name="val_bg_type"
                                                class="form-control select2 mainForm">
                                            <option value="NA">Not applicable</option>
                                            <option value="U">User</option>
                                            <option value="P">Pusher</option>
                                            <option value="W">Watchlist</option>
                                            <option value="L">Listed</option>
                                            <option value="N">Not Listed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Contact Number</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_contact" name="val_bg_contact" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">E-mail</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_email" name="val_bg_email" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Date surrendered</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_surr_date" name="val_bg_surr_date"
                                               class="form-control form-control-inline date-picker mainForm"
                                               size="16" type="text" value=""/>
                                        <span class="help-block"> Select date </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Time surrendered</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input id="val_bg_surr_time" name="val_bg_surr_time" type="text"
                                                   class="form-control timepicker timepicker-no-seconds mainForm">
                                            <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-clock-o"></i>
                                                    </button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Age</label>
                                    <div class="col-md-4">
                                        <input id="val_bg_age" name="val_bg_age" class="form-control mainForm"
                                               type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Date of birth</label>
                                <div class="col-md-4">
                                    <input id="val_bg_dob" name="val_bg_dob"
                                           class="form-control form-control-inline date-picker mainForm" size="16"
                                           type="text" value=""/>
                                    <span class="help-block"> Select date </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="val_bg_sex" class="col-md-3 control-label">Gender</label>
                                <div class="col-md-4">
                                    <select id="val_bg_sex" name="val_bg_sex" class="form-control select2 mainForm">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="val_bg_civstat" class="col-md-3 control-label">Civil Status</label>
                                <div class="col-md-4">
                                    <select id="val_bg_civstat" name="val_bg_civstat"
                                            class="form-control select2 mainForm">
                                        <option value="S">Single</option>
                                        <option value="M">Married</option>
                                        <option value="L">Live-in</option>
                                        <option value="W">Widowed</option>
                                        <option value="SP">Separated</option>
                                        <option value="D">Divorced</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="val_bg_edu" class="col-md-3 control-label">Highest Educational
                                    Attainment</label>
                                <div class="col-md-4">
                                    <select id="val_bg_edu" name="val_bg_edu" class="form-control select2 mainForm">
                                        <option value="N">None</option>
                                        <option value="E">Elementary</option>
                                        <option value="HS">High School</option>
                                        <option value="JH">Junior High</option>
                                        <option value="SH">Senior High</option>
                                        <option value="V">Vocational</option>
                                        <option value="C">College</option>
                                        <option value="M">Masters</option>
                                        <option value="D">Doctorate</option>
                                    </select>
                                    <span class="help-block"> NOTE: High School is before K-12  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="val_bg_nation" class="col-md-3 control-label">Nationality</label>
                                <div class="col-md-4">
                                    <select id="val_bg_nation" name="val_bg_nation"
                                            class="form-control select2 select2dynamic mainForm">
                                        <!-- Dynamic (retrieved from external database) -->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="val_bg_relg" class="col-md-3 control-label">Religion</label>
                                <div class="col-md-4">
                                    <select id="val_bg_relg" name="val_bg_relg"
                                            class="form-control select2 select2dynamic mainForm">
                                        <!-- Dynamic (retrieved from external database) -->
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Years in school</label>
                                <div class="col-md-4">
                                    <input id="val_school_yrs" name="val_school_yrs" class="form-control mainForm"
                                           type="text" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Date of last school attendance</label>
                                <div class="col-md-4">
                                    <input id="val_school_date" name="val_school_date"
                                           class="form-control form-control-inline date-picker mainForm" size="16"
                                           type="text" value=""/>
                                    <span class="help-block"> Select date </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="val_work_prerehab" class="col-md-3 control-label">Occupation prior to
                                    rehab</label>
                                <div class="col-md-4">
                                    <select id="val_work_prerehab" name="val_work_prerehab"
                                            class="form-control select2 select2dynamic mainForm">
                                        <!-- Dynamic (retrieved from external database) -->
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Skill</label>
                                <div class="col-md-4">
                                    <input id="val_bg_skill" name="val_bg_skill" type="text"
                                           class="form-control mainForm" placeholder="Enter text">
                                    <span class="help-block"> Enter the featured/best skill the person has. </span>
                                </div>
                            </div>
                            <h3 class="form-section">Family</h3>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Number of siblings</label>
                                    <div class="col-md-4">
                                        <input id="val_fam_siblings" name="val_fam_siblings"
                                               class="form-control mainForm" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="val_fam_ordinal" class="col-md-3 control-label">Ordinal position in
                                        family</label>
                                    <div class="col-md-4">
                                        <select id="val_fam_ordinal" name="val_fam_ordinal"
                                                class="form-control select2 mainForm">
                                            <option value="M">Mother</option>
                                            <option value="F">Father</option>
                                            <option value="EC">Eldest child</option>
                                            <option value="MC">Middle child</option>
                                            <option value="YC">Youngest child</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="person_livar" class="form-group">
                                    <label class="col-md-3 control-label">Living arrangements</label>
                                    <div class="col-md-4">
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_livar1" name="person_livar"
                                                       value="WP"> With parents
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_livar2" name="person_livar"
                                                       value="WR"> With relatives
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_livar3" name="person_livar"
                                                       value="BH"> Boarding house
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_livar4" name="person_livar"
                                                       value="WSC"> With spouse and children
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_livar5" name="person_livar"
                                                       value="WF"> With friends
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_livar6" name="person_livar"
                                                       value="LA"> Living alone
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_livar7" name="person_livar"
                                                       value="O"> Others
                                                <span></span>
                                            </label>
                                        </div>
                                        <input id="person_livarother" name="person_livarother" class="form-control"
                                               type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Estimated family monthly income</label>
                                    <div class="col-md-4">
                                        <input id="val_fam_income" name="val_fam_income"
                                               class="form-control mainForm" type="text" value="">
                                        <span class="help-block"> Please round-off all centavos. </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name of Father</label>
                                    <div class="col-md-4">
                                        <input id="val_fam_dadname" name="val_fam_dadname" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="val_fam_dadocc" class="col-md-3 control-label">Occupation</label>
                                    <div class="col-md-4">
                                        <select id="val_fam_dadocc" name="val_fam_dadocc"
                                                class="form-control select2 select2dynamic mainForm">
                                            <!-- Dynamic (retrieved from external database) -->
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name of Mother</label>
                                    <div class="col-md-4">
                                        <input id="val_fam_momname" name="val_fam_momname" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="val_fam_momocc" class="col-md-3 control-label">Occupation</label>
                                    <div class="col-md-4">
                                        <select id="val_fam_momocc" name="val_fam_momocc"
                                                class="form-control select2 select2dynamic mainForm">
                                            <!-- Dynamic (retrieved from external database) -->
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name of Spouse</label>
                                    <div class="col-md-4">
                                        <input id="val_fam_spousename" name="val_fam_spousename" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="val_fam_spouseocc" class="col-md-3 control-label">Occupation</label>
                                    <div class="col-md-4">
                                        <select id="val_fam_spouseocc" name="val_fam_spouseocc"
                                                class="form-control select2 select2dynamic mainForm">
                                            <!-- Dynamic (retrieved from external database) -->
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Address of Spouse</label>
                                    <div class="col-md-4">
                                        <input id="val_fam_spouse_addr" name="val_fam_spouse_addr" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase"> Drug Use Information</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form id="frm_intake_drguse" action="#" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Parts of the form have errors. Please double check.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Validation successful.
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Daily expenses for drugs</label>
                                    <div class="col-md-4">
                                        <input id="val_drg_expense" name="val_drg_expense"
                                               class="form-control mainForm" type="text" value="">
                                        <span class="help-block"> Please round-off all centavos. </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Age of 1st drug use</label>
                                    <div class="col-md-4">
                                        <input id="val_drg_agefirst" name="val_drg_agefirst"
                                               class="form-control mainForm" type="text" value="">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Date of last drug use</label>
                                    <div class="col-md-4">
                                        <input id="val_drg_datelast" name="val_drg_datelast"
                                               class="form-control form-control-inline date-picker mainForm"
                                               size="16" type="text" value=""/>
                                        <span class="help-block"> Select date </span>
                                    </div>
                                </div>
                                <div id="val_drg_lengthuse" class="form-group">
                                    <label class="col-md-3 control-label">Length of drug use</label>
                                    <div class="col-md-4">
                                        <div class="mt-radio-list mainForm">
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_drg_lengthuse" id="val_drg_lengthuse1"
                                                       value="L2"> Less than 2 years
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_drg_lengthuse" id="val_drg_lengthuse2"
                                                       value="EoG2L4"> Equal or greater than 2 years but less than
                                                4 years
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_drg_lengthuse" id="val_drg_lengthuse3"
                                                       value="EoG4L6"> Equal or greater than 4 years but less than
                                                6 years
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_drg_lengthuse" id="val_drg_lengthuse4"
                                                       value="EoG6"> Equal or greater than 6 years
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div id="person_sourcedrug" class="form-group">
                                    <label class="col-md-3 control-label">Source of drugs</label>
                                    <div class="col-md-4">
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_sourcedrug1"
                                                       name="person_sourcedrug" value="F"> Friend/Peer
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_sourcedrug2"
                                                       name="person_sourcedrug" value="P"> Pusher
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_sourcedrug3"
                                                       name="person_sourcedrug" value="S"> Self
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_sourcedrug4"
                                                       name="person_sourcedrug" value="D"> Drugstore
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_sourcedrug5"
                                                       name="person_sourcedrug" value="R"> Relatives
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_sourcedrug6"
                                                       name="person_sourcedrug" value="O"> Other
                                                <span></span>
                                            </label>
                                        </div>
                                        <input id="person_sourcedrugother" name="person_sourcedrugother"
                                               class="form-control" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Place of drug source</label>
                                    <div class="col-md-4">
                                        <input id="val_drg_place" name="val_drg_place" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Primary reason for using drugs</label>
                                    <div class="col-md-4">
                                        <input id="val_drg_reason" name="val_drg_reason" type="text"
                                               class="form-control mainForm" placeholder="Enter text">
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="person_drugsused" class="col-md-3 control-label">Drug used for last
                                        30 days</label>
                                    <div class="col-md-4">
                                        <div class="input-group select2-bootstrap-append">
                                            <select id="person_drugsused" name="person_drugsused"
                                                    class="form-control select2 select2dynamic" multiple>
                                                <!-- Dynamic (retrieved from external database) -->
                                                <option></option>
                                            </select>
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"
                                                    data-select2-open="person_drugsused">
                                            <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase"> Treatment Information</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form id="frm_intake_treat" action="#" class="form-horizontal">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Parts of the form have errors. Please double check.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Validation successful.
                                </div>
                                <div id="person_natadm" class="form-group">
                                    <label class="col-md-3 control-label">Nature of admission</label>
                                    <div class="col-md-4">
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_natadm1" name="person_natadm"
                                                       value="V"> Voluntary
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_natadm2" name="person_natadm"
                                                       value="VS"> Voluntary Surrender
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_natadm3" name="person_natadm"
                                                       value="A"> Arrested
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_natadm4" name="person_natadm"
                                                       value="SS"> Suspended Sentence
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_natadm5" name="person_natadm"
                                                       value="R"> Relapse/Readmission
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_natadm6" name="person_natadm"
                                                       value="CC"> Compulsory Confinement
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" id="person_natadm7" name="person_natadm"
                                                       value="O"> Others
                                                <span></span>
                                            </label>
                                        </div>
                                        <input id="person_natadmother" name="person_natadmother"
                                               class="form-control" type="text" value="" disabled>
                                    </div>
                                </div>
                                <div id="val_trt_numadm" class="form-group">
                                    <label class="col-md-3 control-label">Number of times admitted before</label>
                                    <div class="col-md-4">
                                        <div class="mt-radio-list">
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" id="val_trt_numadm1" name="val_trt_numadm"
                                                       value="N"> None
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" id="val_trt_numadm2" name="val_trt_numadm"
                                                       value="O"> Once
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" id="val_trt_numadm3" name="val_trt_numadm"
                                                       value="T"> Twice
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" id="val_trt_numadm4" name="val_trt_numadm"
                                                       value="MT"> More than twice
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="person_drugsub" class="col-md-3 control-label">Type of drug
                                        substance</label>
                                    <div class="col-md-4">
                                        <div class="input-group select2-bootstrap-append">
                                            <select id="person_drugsub" name="person_drugsub"
                                                    class="form-control select2 select2dynamic" multiple>
                                                <!-- Dynamic (retrieve from external database) -->
                                                <option></option>
                                            </select>
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"
                                                    data-select2-open="person_drugsub">
                                            <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="val_trt_freq" class="form-group">
                                    <label class="col-md-3 control-label">Frequency of drug use</label>
                                    <div class="col-md-4">
                                        <div class="mt-radio-list">
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_trt_freq" id="val_trt_freq1"
                                                       value="D"> Daily
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_trt_freq" id="val_trt_freq2"
                                                       value="2TO5"> 2 to 5 times a week
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_trt_freq" id="val_trt_freq3"
                                                       value="W"> Weekly
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_trt_freq" id="val_trt_freq4"
                                                       value="OCC"> Occasionally
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_trt_freq" id="val_trt_freq5"
                                                       value="M"> Monthly
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-line">
                                                <input type="radio" name="val_trt_freq" id="val_trt_freq6"
                                                       value="O"> Other
                                                <span></span>
                                            </label>
                                        </div>
                                        <!--<input id="val_trt_freqother" name="val_trt_freqother" class="form-control" type="text" value="" disabled>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Means to support drug habit</label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input id="val_trt_means" name="val_trt_means" type="text"
                                                   class="form-control mainForm" placeholder="Enter text">
                                            <span class="help-block"> Input the main way the user is able to support his/her drug habit. </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-4">
                                        <button id="frm_intake_btn" type="button" class="btn blue">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <div id="frm_refresh_select" class="floatingContainer">
            <div class="actionButton">
                <p class="floatingText">
                    <span class="floatingTextBG">Retrieve data</span></p>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
            type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
            type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="assets/floatActionBtn.js" type="text/javascript"></script>
    <script src="assets/adapter.js" type="text/javascript"></script>
    <script src="assets/formIntakeValidation.js" type="text/javascript"></script>
    <script src="assets/formIntakeMasks.js" type="text/javascript"></script>
    <script src="assets/getSelectData.js" type="text/javascript"></script>
    <script src="assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <script src="assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="assets/pages/scripts/canvas-to-blob.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
