<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="assets/floatActionBtn.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="note note-info">
        <p> NOTE: If dropdown menus are displaying <b>"No results found."</b>, click the floating red box on the
            bottom right to retrieve data. </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase"> Add User</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form id="usr_add" action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                Parts of the form have errors. Please double check.
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button>
                                Validation successful.
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Username</label>
                                <div class="col-md-6">
                                    <input id="nameusracc" type="text" class="form-control" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-6">
                                    <input id="passusracc" type="password" class="form-control"
                                           placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Full name</label>
                                <div class="col-md-6">
                                    <input id="rlnameusracc" type="text" class="form-control" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lvlusracc" class="col-md-3 control-label">User level</label>
                                <div class="col-md-6">
                                    <select id="lvlusracc" class="form-control select2">
                                        <option value="1">Supervisor</option>
                                        <option value="2">Encoder</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="brgyusracc" class="col-md-3 control-label">Barangay</label>
                                <div class="col-md-6">
                                    <select id="brgyusracc" class="form-control select2 select2dynamic">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button id="usr_add_btn" type="button" class="btn blue">Add User</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
</div>
<div id="frm_refresh_select" class="floatingContainer">
    <div class="actionButton">
        <p class="floatingText">
            <span class="floatingTextBG">Retrieve data</span></p>
    </div>
</div>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
<script src="assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/floatActionBtn.js" type="text/javascript"></script>
<script src="assets/formIntakeMasks.js" type="text/javascript"></script>
<script src="assets/formManageUsersValidation.js" type="text/javascript"></script>
<script src="assets/getSelectData.js" type="text/javascript"></script>
<script src="assets/pages/scripts/ui-buttons.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/form-samples.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
