<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="assets/floatActionBtn.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="note note-info">
            <span> NOTE: If dropdown menus are displaying <b>"No results found."</b>, click the floating red box
                on the bottom right to retrieve data. </span>
        <br>
        <span>Select barangay:</span>
        <select id="brgyusracc" name="brgyusracc" class="form-control select2dynamic mainForm"> </select>
        <br>
        <button id="btn_genrep">Generate Report</button>
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Monitoring Sheet</span>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <!--Content here-->
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <div id="frm_refresh_select" class="floatingContainer">
        <div class="actionButton">
            <i class="floatingText">
                <span class="floatingTextBG">Retrieve data</span></i>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/floatActionBtn.js" type="text/javascript"></script>
<script src="assets/individualReport.js" type="text/javascript"></script>
<script src="assets/getSelectData.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
