<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="assets/floatActionBtn.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
      type="text/css"/>
<link href="assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="note note-info">
        <p> NOTE: Please type "None" or 0 if there is no value to be entered. </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">Client Needs Assessment Form</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form id="frm_aftercare" action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                Parts of the form have errors. Please double check.
                            </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button>
                                Values appear to be valid.
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name of Client</label>
                                <div class="col-md-4">
                                    <input id="val_aftcr_client" name="val_aftcr_client" type="text"
                                           class="form-control mainForm" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Address</label>
                                <div class="col-md-4">
                                    <input id="val_aftcr_addr" name="val_aftcr_addr" type="text"
                                           class="form-control mainForm" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">BADAC</label>
                                <div class="col-md-4">
                                    <input id="val_aftcr_badac" name="val_aftcr_badac" type="text"
                                           class="form-control mainForm" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Number</label>
                                <div class="col-md-4">
                                    <input id="val_aftcr_contact" name="val_aftcr_contact" type="text"
                                           class="form-control mainForm" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Interviewer</label>
                                <div class="col-md-4">
                                    <input id="val_aftcr_interviewer" name="val_aftcr_interviewer" type="text"
                                           class="form-control mainForm" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Date</label>
                                <div class="col-md-4">
                                    <input id="val_aftcr_date" name="val_aftcr_date"
                                           class="form-control form-control-inline date-picker mainForm"
                                           size="16" type="text" value=""/>
                                    <span class="help-block"> Select date </span>
                                </div>
                            </div>

                            <h2>Medical</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_med_q1" class="form-group">
                                        <label class="col-md-3 control-label">Screening or Assessment</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q1" id="val_med_q11"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q1" id="val_med_q12"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_med_q2" class="form-group">
                                        <label class="col-md-3 control-label">Physical Exam</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q2" id="val_med_q21"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q2" id="val_med_q22"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_med_q3" class="form-group">
                                        <label class="col-md-3 control-label">Psychiatric Evaluation</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q3" id="val_med_q31"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q3" id="val_med_q32"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_med_q4" class="form-group">
                                        <label class="col-md-3 control-label">Dental Exam</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q4" id="val_med_q41"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q4" id="val_med_q42"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_med_q5" class="form-group">
                                        <label class="col-md-3 control-label">Nutrition Assessment</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q5" id="val_med_q51"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q5" id="val_med_q52"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_med_q6" class="form-group">
                                        <label class="col-md-3 control-label">Drug Test</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q6" id="val_med_q61"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_med_q6" id="val_med_q62"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Psychological</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_psych_q1" class="form-group">
                                        <label class="col-md-3 control-label">Psychological Evaluation</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q1" id="val_psych_q11"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q1" id="val_psych_q12"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_psych_q2" class="form-group">
                                        <label class="col-md-3 control-label">Motivational Interview or
                                            Counseling</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q2" id="val_psych_q21"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q2" id="val_psych_q22"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_psych_q3" class="form-group">
                                        <label class="col-md-3 control-label">Psychosocial Processing</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q3" id="val_psych_q31"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q3" id="val_psych_q32"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_psych_q4" class="form-group">
                                        <label class="col-md-3 control-label">Stress Debriefing</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q4" id="val_psych_q41"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q4" id="val_psych_q42"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_psych_q5" class="form-group">
                                        <label class="col-md-3 control-label">Stress Management</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q5" id="val_psych_q51"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q5" id="val_psych_q52"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_psych_q6" class="form-group">
                                        <label class="col-md-3 control-label">Recovery Education</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q6" id="val_psych_q61"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q6" id="val_psych_q62"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_psych_q7" class="form-group">
                                        <label class="col-md-3 control-label">Anger Management</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q7" id="val_psych_q71"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_psych_q7" id="val_psych_q72"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Socio-cultural</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_socio_q1" class="form-group">
                                        <label class="col-md-3 control-label">Financial Assistance</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q1" id="val_socio_q11"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q1" id="val_socio_q12"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_socio_q2" class="form-group">
                                        <label class="col-md-3 control-label">Education Assistance</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q2" id="val_socio_q21"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q2" id="val_socio_q22"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_socio_q3" class="form-group">
                                        <label class="col-md-3 control-label">Family Counseling</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q3" id="val_socio_q31"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q3" id="val_socio_q32"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_socio_q4" class="form-group">
                                        <label class="col-md-3 control-label">Livelihood or TESDA Training</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q4" id="val_socio_q41"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q4" id="val_socio_q42"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_socio_q5" class="form-group">
                                        <label class="col-md-3 control-label">Alternative Learning System (ALS)</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q5" id="val_socio_q51"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q5" id="val_socio_q52"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_socio_q6" class="form-group">
                                        <label class="col-md-3 control-label">Job Placement</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q6" id="val_socio_q61"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q6" id="val_socio_q62"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_socio_q7" class="form-group">
                                        <label class="col-md-3 control-label">Medical Assistance</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q7" id="val_socio_q71"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_socio_q7" id="val_socio_q72"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Spritual</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="val_spirit_q1" class="form-group">
                                        <label class="col-md-3 control-label">Fellowship</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_spirit_q1" id="val_spirit_q11"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_spirit_q1" id="val_spirit_q12"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="val_spirit_q2" class="form-group">
                                        <label class="col-md-3 control-label">Better than wine</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_spirit_q2" id="val_spirit_q21"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_spirit_q2" id="val_spirit_q22"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Self-help Group</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="val_self_q1" class="form-group">
                                        <label class="col-md-3 control-label">Membership</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_self_q1" id="val_self_q11"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_self_q1" id="val_self_q12"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="val_self_q2" class="form-group">
                                        <label class="col-md-3 control-label">Recovery Plan</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_self_q2" id="val_self_q21"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_self_q2" id="val_self_q22"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2>Threapeutic Recreational</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_thera_q1" class="form-group">
                                        <label class="col-md-3 control-label">Emergency Response Training</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q1" id="val_thera_q11"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q1" id="val_thera_q12"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_thera_q2" class="form-group">
                                        <label class="col-md-3 control-label">Sports</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q2" id="val_thera_q21"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q2" id="val_thera_q22"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_thera_q3" class="form-group">
                                        <label class="col-md-3 control-label">Environmental Awareness</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q3" id="val_thera_q31"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q3" id="val_thera_q32"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="val_thera_q4" class="form-group">
                                        <label class="col-md-3 control-label">Community Service</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q4" id="val_thera_q41"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q4" id="val_thera_q42"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="val_thera_q5" class="form-group">
                                        <label class="col-md-3 control-label">Family or Community Day</label>
                                        <div class="col-md-4">
                                            <div class="mt-radio-list mainForm">
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q5" id="val_thera_q51"
                                                           value="Y"> Yes
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-line">
                                                    <input type="radio" name="val_thera_q5" id="val_thera_q52"
                                                           value="N"> No
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Notes/Comments</label>
                                <div class="col-md-4">
                                    <input id="val_aftcr_notes" name="val_aftcr_notes" type="text"
                                           class="form-control mainForm" placeholder="Enter text">
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-4">
                                        <button id="aftercare_submitbtn" type="button" class="btn blue">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="assets/formIntakeMasks.js" type="text/javascript"></script>
<script src="assets/formAftercare.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
