<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/floatActionBtn.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<template>
    <!-- BEGIN PAGE CONTENT INNER -->
    <div id="intake_form">
        <div class="page-content-inner">
            <div class="note note-info">
                <p> NOTE: If dropdown menus are displaying <b>"No results found."</b>, please click the floating red box on the bottom right to retrieve data. </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-red-sunglo"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase"> Control Information</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form id="frm_intake_ctrl" action="#" class="form-horizontal">
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button> Parts of the form have errors. Please double check. </div>
                                    <div class="alert alert-success display-hide">
                                        <button class="close" data-close="alert"></button> Validation successful. </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Control Number</label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input id="person_id" name="person_id" type="text" class="form-control" placeholder="Enter text">
                                                <span class="help-block"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="val_ctrl_brgy" class="col-md-3 control-label">Barangay</label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <select id="val_ctrl_brgy" name="val_ctrl_brgy" class="form-control select2 select2dynamic">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Date of admission</label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input id="val_ctrl_dateadm" name="val_ctrl_dateadm" class="form-control form-control-inline date-picker" size="16" type="text" value="" />
                                                <span class="help-block"> Select date </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-red-sunglo"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase"> Background Information</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form id="frm_intake_bginfo" action="#" class="form-horizontal">
                                <h3 class="form-section">Personal</h3>
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button> Parts of the form have errors. Please double check. </div>
                                    <div class="alert alert-success display-hide">
                                        <button class="close" data-close="alert"></button> Validation successful. </div>
                                    <div class="form-group">
                                        <label for="val_bg_skill" class="col-md-3 control-label">Skills</label>
                                        <div class="col-md-4">
                                            <div class="input-group select2-bootstrap-append">
                                                <select id="val_bg_skill" name="val_bg_skill" class="form-control select2 select2dynamic" multiple>
                                                    <!-- Dynamic (retrieved from external database) -->
                                                    <option></option>
                                                </select>
                                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" data-select2-open="val_bg_skill">
                                        <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="person_livar" class="form-group">
                                        <label class="col-md-3 control-label">Living arrangements</label>
                                        <div class="col-md-4">
                                            <div class="mt-checkbox-list">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="person_livar1" name="person_livar" value="WP"> With parents
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="person_livar2" name="person_livar" value="WR"> With relatives
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="person_livar3" name="person_livar" value="BH"> Boarding house
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="person_livar4" name="person_livar" value="WSC"> With spouse and children
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="person_livar5" name="person_livar" value="WF"> With friends
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="person_livar6" name="person_livar" value="LA"> Living alone
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" id="person_livar7" name="person_livar" value="O"> Others
                                                    <span></span>
                                                </label>
                                            </div>
                                            <input id="person_livarother" name="person_livarother" class="form-control" type="text" value="" disabled>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-4">
                                                <button id="frm_intake_btn" type="button" class="btn blue">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                            <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="frm_refresh_select" class="floatingContainer">
                <div class="actionButton">
                    <p class="floatingText">
                        <span class="floatingTextBG">Retrieve data</span></p>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
</template>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/floatActionBtn.js" type="text/javascript"></script>
<script src="../assets/formIntakeValidation.js" type="text/javascript"></script>
<script src="../assets/formIntakeMasks.js" type="text/javascript"></script>
<script src="../assets/getSelectData.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-bootstrap-touchspin.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
