<!-- BEGIN FOOTER -->
<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>About</h2>
                <p> Republic of the Philippines <br> Department of Health <br> Barangay Drug Abuse Council Aftercare </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                <h2>Address</h2>
                <address class="margin-bottom-40"> J.P. Laurel Avenue, Bajada, Davao City
                </address>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>Follow Us On</h2>
                <ul class="social-icons">
                    <li>
                        <a href="http://www.doh.gov.ph/" data-original-title="rss" class="rss"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/OfficialDOHgov" data-original-title="facebook" class="facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/DOHgovph" data-original-title="twitter" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UChZQaAATaHjT_wG-kac3qfA" data-original-title="youtube" class="youtube"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>Contacts</h2>
                <address class="margin-bottom-40"> Phone: +63 (82) 305-1903,1904,1906, 227-4073, 227-2463
                <br> Fax: 221-6320
                    <br> Email:
                    <a href="mailto:doh11davao@gmail.com">doh11davao@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container"> 2016 &copy; Developed by John Santiago
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->