    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.php">
                    <img width="200px" src="assets/placeholder.png" alt="logo" class="logo-default">
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <img alt="" class="img-circle" src="assets/layouts/layout3/img/dcseal.png">
                            <span id="page_usrname" class="username username-hide-mobile"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="a-logout.php">
                                    <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">
            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <div class="hor-menu  ">
                <ul class="nav navbar-nav">
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="index.php"> Dashboard
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;"> Intake Form
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class=" ">
                                <a href="a-form.php" class="nav-link  ">
                                    <i class="icon-bar-chart"></i> New Form </a>
                            </li>
                            <li class=" ">
                                <a id="nav_editForm" onclick="" href="e-form.php" class="nav-link ">
                                    <i class="icon-bulb"></i> Edit Form </a>
                            </li>
                            <li class=" ">
                                <a id="nav_editForm" onclick="" href="b-aftercare.php" class="nav-link ">
                                    <i class="icon-bulb"></i> Aftercare Form </a>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;"> Reports
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class=" ">
                                <a onclick="" href="b-reports.php" class="nav-link  ">
                                    <i class="icon-bar-chart"></i> Barangay Reports
                                </a>
                            </li>
                            <li class=" ">
                                <a onclick="" href="b-user-report.php" class="nav-link  ">
                                    <i class="icon-bar-chart"></i> Individual Report
                                </a>
                            </li>
                            <li class=" ">
                                <a onclick="" href="b-print.php" class="nav-link  ">
                                    <i class="icon-bar-chart"></i> Print Report
                                </a>
                            </li>
                        </ul>
                    </li>-->
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;"> Users
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class=" ">
                                <a id="nav_manageUsers" onclick="" href="a-users.php" class="nav-link  ">
                                    <i class="icon-bar-chart"></i> Manage Users </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->